# Node Modules
node_modules

# Build Output 
public/styles/output.css

# Environment variables
.env

# Log files
*.log

# System files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln